body {
    font-family: sans-serif;
    background-color: #095746;
  }
 
  #quiz-container {

    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #1e5e63;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  #question-container {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #29d1c3;
    border-radius: 1rem;
  }
  
  #question {
    font-size: 2rem;
  }
  
  #answer-buttons {
    list-style: none;
    margin-top: 2rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .answer-button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin: 0.5rem;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .answer-button:hover {
    background-color: #333;
    color: #fff;
  }
  
  #timer-container {
    text-align: center;
    margin: 20px 0;
  }
  
  #timer {
    font-size: 24px;
    font-weight: bold;
    color: #0e0d0d;
    background-color: #29d1c3;
    padding: 10px 20px;
    border-radius: 5px;
  }
  

  #controls {
    margin-top: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #start-button, #next-button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin: 0.5rem;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  #start-button:hover, #next-button:hover {
    background-color: #333;
    color: #fff;
  }
  
  #next-button {
    display: none;
  }

  .answer-button.correct {
    background-color: green;
  }
  
  .answer-button.wrong {
    background-color: red;
  }
  
  #chart-container {
    width: 500px;
    height: 300px;
    /* margin-bottom: 1000px; */
    margin-left: 150px;
  }

 #feedback{
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;
  display: center;
  background-color: #29d1c3; 
 }

#chart{
  margin-bottom: 50px;
}

